.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.checkout-button {
  width: 100px;
  height: 30px;
  border: 0px solid;
  background-color: burlywood;
  border-radius: 10px;
  cursor: pointer;
}

.popup-content {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px #bfbfbf;
}

.payment-methods {
  margin-bottom: 20px;
}

.payment-method-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.payment-method-button.selected {
  background-color: #2196f3;
  color: #fff;
}

.summary {
  margin-bottom: 20px;
}

.confirm-order-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.confirm-order-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-para {
  background-color: green;
  color: white;
  font-size: 15px;
  padding: 10px;
}
